.about-wrapper {
  background-color: #f6f6f6;
  padding: 100px;
}

.portrait {
  border-radius: 100px;
  width: 80%;
  margin-left: 80px;
}
.logo {
  max-width: 100%;
}
@media (max-width: 960px) {
  .about-wrapper {
    padding: 30px;
  }
}
