.contact-wrapper {
  background-color: #eeee;
  padding: 40px;
}

form {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  margin-right: 20px;
  border: 1px solid rgb(190, 190, 190);
}
.contact-wrapper p {
  font-family: poppins;
  line-height: 1.5;
  font-size: 18px;
  margin-top: 20px;
}
