.tools-wrapper {
  padding: 40px;
  background-color: #a1aaa1;
}
.header {
  margin-bottom: 40px;
}
.frontend {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}
.backend {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  margin-left: 5px;
}
